<div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30" th:fragment="dashboard-features">
    <div class="dash__pad-1">

        <span class="dash__text u-s-m-b-16">Hello, John Doe</span>
        <ul class="dash__f-list">
            <li>

                <a class="dash-active" href="/account">Manage My Account</a></li>
            <li>
                <a href="/profile">My Profile</a></li>
            <li>
                <a href="/order-history">My Orders</a></li>
        </ul>
    </div>
</div>
<div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
    <div class="dash__pad-1">
        <ul class="dash__w-list">
            <li>
                <div class="dash__w-wrap">

                                                    <span class="dash__w-icon dash__w-icon-style-1"><i
                                                            class="fas fa-cart-arrow-down"></i></span>

                    <span class="dash__w-text">4</span>

                    <span class="dash__w-name">Orders Placed</span></div>
            </li>

        </ul>
    </div>
</div>
