<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head"></head>

<body class="config">

<div id="app">
    <div th:replace="fragments/header :: header"></div>

    <!--====== Primary Slider ======-->
    <div class="s-skeleton s-skeleton--h-640 s-skeleton--bg-grey">
        <div class="owl-carousel primary-style-3" id="hero-slider">
            <div class="hero-slide hero-slide--7">
                <div class="primary-style-3-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider-content slider-content--animation">

                                    <span class="content-span-1 u-c-white">Update Your Fashion</span>

                                    <span class="content-span-2 u-c-white">10% Discount on Outwear</span>

                                    <span class="content-span-3 u-c-white">Find outwear on best prices</span>

                                    <span class="content-span-4 u-c-white">Starting At

                                                <span class="u-c-brand">$100.00</span></span>

                                    <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide hero-slide--8">
                <div class="primary-style-3-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider-content slider-content--animation">

                                    <span class="content-span-1 u-c-white">Open Your Eyes</span>

                                    <span class="content-span-2 u-c-white">10% Off On Intimates</span>

                                    <span class="content-span-3 u-c-white">Find intimates on best prices</span>

                                    <span class="content-span-4 u-c-white">Starting At

                                                <span class="u-c-brand">$100.00</span></span>

                                    <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide hero-slide--9">
                <div class="primary-style-3-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider-content slider-content--animation">

                                    <span class="content-span-1 u-c-white">Find Top Brands</span>

                                    <span class="content-span-2 u-c-white">10% Off On Outwear</span>

                                    <span class="content-span-3 u-c-white">Find outwear on best prices</span>

                                    <span class="content-span-4 u-c-white">Starting At

                                                <span class="u-c-brand">$100.00</span></span>

                                    <a class="shop-now-link btn--e-brand" href="shop-side-version-2.html">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Primary Slider ======-->

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
                        <div class="promotion-o">
                            <div class="aspect aspect--bg-grey aspect--square">

                                <img class="aspect__img" src="images/promo/promo-img-4.jpg" alt=""></div>
                            <div class="promotion-o__content">

                                <a class="promotion-o__link btn--e-white-brand" href="shop-side-version-2.html">Women's
                                    Clothing</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
                        <div class="promotion-o">
                            <div class="aspect aspect--bg-grey aspect--square">

                                <img class="aspect__img" src="images/promo/promo-img-5.jpg" alt=""></div>
                            <div class="promotion-o__content">

                                <a class="promotion-o__link btn--e-white-brand" href="shop-side-version-2.html">Fashion
                                    Accessories</a></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
                        <div class="promotion-o">
                            <div class="aspect aspect--bg-grey aspect--square">

                                <img class="aspect__img" src="images/promo/promo-img-6.jpg" alt=""></div>
                            <div class="promotion-o__content">

                                <a class="promotion-o__link btn--e-white-brand" href="shop-side-version-2.html">Men's
                                    Clothing</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 1 ======-->

    <div th:replace="fragments/footer :: footer"></div>
</div>


<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>